body { font: 2em Fontin, serif }
nav { font-size: .7em }
table, tr, td {
   border: 1px solid black;
   font-family:arial; 
   font-size: 14px;
}
table {
    width: 50%;
}

td {
    height: 60px;
    width: 100px;
}

@page { size: A5; margin: 0.1cm }
@media print {
    nav { display: none }
}