<!DOCTYPE html>
<html>
	<body>
		
		<table>
			<link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet" type="text/css" />
			{% for table in tables %}
				{{ table|safe }}
			{% endfor %}
		</table>

		<form action = "http://localhost:5000/generate-sono-program/{{ action_date }}" method = "POST" enctype = "multipart/form-data">
		<h3>Change brother action</h3>

		<p>Action to change:
			 <select name = "action">
				{% for each in dropdown_actions_list %}
				   <option value="{{each}}">{{each}}</option>
				{% endfor %}
			 </select>
			<input type="date" name="action_date">
			<input type = "submit" name="submit_action" value = "Select" />
		</p>
		</form>

	</body>
</html>
