<!DOCTYPE html>
<html>
	<body>
		
		<table>
			<link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet" type="text/css" />
			{% for table in tables %}
				{{ table|safe }}
			{% endfor %}
		</table>

		<p><font size="5">This Program was saved at the following address: program_management/sono_program.csv</p>
		<p><font size="5">If you are satisfied with this program, you can <a href="http://localhost:5000/submit">return to the main page</a>.</p>

		<form action = "http://localhost:5000/submit" method = "POST" enctype="multipart/form-data">
			<p><font size="4">If you are not satisfied with this program, please click on the following button: </font>
			<input type = "submit" name="submit_button" value = "Generate new program" /></p>
		</form>
	
	</body>
</html>
