<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Upload</title>
</head>
<body>
   <form action = "http://localhost:5000/submit" method = "POST" enctype = "multipart/form-data">
      <h1>Program Parameters</h1>
      <p>Select a month. =>
      <select name = "month">
         {% for each in dropdown_months_list %}
            <option value="{{each}}">{{each}}</option>
         {% endfor %}
      </select>
      <input type = "submit" name="submit_button" value = "Upload" />
   </form>
</body>
</html>